[Unit]
Description=ODROID U3 fan speed(pwm) automatic control

[Service]
Type=simple
ExecStart=/usr/local/bin/odroidu3-fanspeed-autoctrl

[Install]
WantedBy=multi-user.target
